node_modules
.env
instances
credentials
maps
logs
temp
vendor/team-detector
data/staticData.sqlite-shm
data/staticData.sqlite-wal
data/runtimeData.sqlite
data/runtimeData.sqlite-shm
data/runtimeData.sqlite-wal
data/teamfinder/
database
rust-wake
firebase-adminsdk*.json
*-firebase-adminsdk-*.json

/cameras
